<h1>New Product</h1>

<%= form_with model: @product, local: true do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :product_id %><br>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%= form.label :available_stocks %><br>
    <%= form.number_field :available_stocks %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.label :tax_percentage %><br>
    <%= form.number_field :tax_percentage, step: 0.01 %>
  </div>

  <div>
    <%= form.submit 'Create Product' %>
  </div>
<% end %>
<div class="mt-6 p-5">
<%= link_to 'Back', products_path %>

<%= link_to 'Create new bil', new_bill_path %>
</div>